@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AWS Dotnet Core Hands-On Lab</h1>

    <p>Welcome to the test app.</p>

    <p>You are viewing server @ViewData["ServerIdentifier"]</p>
</div>
